* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: var(--primary);
  color: var(--white);
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
}

:root {
  --primary: #000000;
  --secondary: #242526;
  --button: #fff;
  --white: #ffffff;
  --text: #d2d2d2a6;
  --border: #262626;
}
