.home_container {
  width: 70%;
  margin: 0 auto;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.home_container h2 {
  font-size: 50px;
  text-align: center;
}
.home_container h2 span {
  background: linear-gradient(120deg, #3093ee, #0ec3fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_container p {
  max-width: 600px;
  text-align: center;
  color: var(--text);
  font-size: 20px;
}
.home_container button {
  padding: 7px 14px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 15px;
}
