nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  align-items: center;
  padding: 5px 35px;
  background-color: var(--primary);
  /* background-color: var(--secondary); */
  border-radius: 7px;
  border-bottom: 1.5px solid #262626;
}
nav .logo {
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 1px;
  font-family: "Lobster", sans-serif;
  color: var(--white);
}
nav button {
  background-color: var(--button);
  color: #000000;
  height: 37px;
  padding: 0px 20px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 15px;
}
.img_logout_con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logout{
  cursor: pointer;
}
nav img {
  height: 40px;
  width: 40px;
  border-radius: 50vw;
  cursor: pointer;
  outline: 3px solid var(--border);
}
